body{
  margin:auto;
  background-color: lightgrey;
  background: url(../img/fondo.png) no-repeat center;
  background-size: cover;
  min-height: 100vh;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Carter One', cursive;
  font-family: 'Original Surfer', cursive;
  }

header{
  background: black;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}

h1{
  margin: 0;
  text-align: center;
  color: black  ;
}

main{
  width: 30%;
  margin: auto;
  padding: 20px;
  background: rgba(255,255,255,.7);/*coloco una transparencia de 70% en main*/
  display: flex;
  gap: 30px;
}
#imagen{
  width: 200px; /*tamaño de la imagen de ahorcado*/
}
#cuadro{
  text-align: center; 
  padding: 0px;
}
/*visor y blancocuadro me sirva para ponerle fondo negro a la oración para que no se pierda en el fondo*/
#visor{  
  text-align: center;
}/*
.blancocuadro{
  color: #FFFFFF;
  background-color: black;
}*/
#status{ /*fondo para el mensaje de coincidencia o si ganaste o perdiste*/
  text-align: center;
  color: #FFFFFF;
  background-color: black;
}
#tablero{
  font-size: 2em; /*tamaño de las letras a adivinar*/
}