body{
  margin:auto;
  background-color: lightgrey; /*si la imagen no la carga el fondo es gris claro*/
  background: url(../img/fondo.png) no-repeat center; /*inserta la imagen del fondo*/
  background-size: cover;/*que la imagen cubra todo*/
  min-height: 100vh; /*cubre el 100%*/
  font-family: 'Abril Fatface', cursive;
  font-family: 'Carter One', cursive;
  font-family: 'Original Surfer', cursive;
  }

h1{
  margin: 0;
  text-align: center;
  color: black  ;
}

main{
  width: 30%;/*modifica el tamaño del cuadrado donde esta el juego*/
  margin: auto;
  padding: 50px;
  background: rgba(255,255,255,.7);/*coloco una transparencia de 70% en main*/
  display: flex; /*hace que lo que esta dentro del mail se agrupe uno al lado del otro*/
  gap: 50px;
}

#imagen{
  width: 200px; /*tamaño de la imagen de ahorcado*/
}
#cuadro{
  text-align: center; 
  padding: 0px;
}
/*visor y blancocuadro me sirva para ponerle fondo negro a la oración para que no se pierda en el fondo*/
#visor{  
  text-align: center;
}

#status{ /*fondo para el mensaje de coincidencia o si ganaste o perdiste*/
  text-align: center;
  color: #FFFFFF;
  background-color: black;
}
#tablero{
  font-size: 3em; /*tamaño de las letras a adivinar*/
  margin-left: auto;
  margin-right: auto;

}

button{
  display: block;
  margin-left: auto; /*margin-left junto margin-right centran el boton*/
  margin-right: auto;
  margin-top: 20px; /*separa el boton del cuadro*/
}